<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h1><a href="\">Homepage</a></h1>

    <div class="content">
        <br>
        <p>date:010110</p>
        <h2>MyPost1</h2>
        <p>SomeLoremImpsum</p>
    </div>
    <div class="content">
        <br>
        <p>date:020110</p>
        <h2>MyPost2</h2>
        <p>SomeLoremImpsum</p>
    </div>
    <div class="content">
        <br>
        <p>date:030110</p>
        <h2>MyPost3</h2>
        <p>SomeLoremImpsum</p>
    </div>


</body>
</html>