<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h1><a href="\">Django boys</a></h1>

    {% for post in posts %}

    <div class="content">
        <p>{{post.published_date}}</p>

        <h2>{{post.PostTitle}}</h2>

        <p>{{post.text|linebreaksbr}}</p> 
        <!-- Из ентеров в br для большей читаемости -->
    </div>
    <br>

    {% empty %}
    
    <p>Нет постов.</p>
    
    {% endfor %}

</body>
</html>