{% extends 'blog/base.html'%}

{% block content %}
    {% for post in posts %}

    <div class="content border-bottom border-dark post">
        <p class="date">{{post.published_date}}</p>

        <h1><a href="{% url 'post_detail' pk=post.pk%}">{{post.PostTitle}}</a></h1>
        <!-- pk - primary key -->

        <p class="text">{{post.text|linebreaksbr}}</p> 
        <!-- Из ентеров в br для большей читаемости -->
    </div>
    <br>

    {% empty %}

    <p>Нет постов.</p>

    {% endfor %}
{% endblock %}